<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Bluetooth is used to enable NFC readers</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetooth is needed to enable NFC reader</string>
	<key>UIBackgroundModes</key>
	<array>
		<string></string>
	</array>
	<key></key>
	<string>bluetooth-central</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to show you all availble nearby porters</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MKDirectionsRequest</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.maps.directionsrequest</string>
			</array>
		</dict>
	</array>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array>
		<string>MKDirectionsModeBike</string>
		<string>MKDirectionsModeBus</string>
		<string>MKDirectionsModeCar</string>
		<string>MKDirectionsModeFerry</string>
		<string>MKDirectionsModePedestrian</string>
		<string>MKDirectionsModeRideShare</string>
		<string>MKDirectionsModeStreetCar</string>
		<string>MKDirectionsModeSubway</string>
		<string>MKDirectionsModeTaxi</string>
		<string>MKDirectionsModeTrain</string>
	</array>
</dict>
</plist>
